{% extends "base/base.html" %}
{% block content %}
{% include "components/header.html" %}




<div class="contactUsContainer sectionPadding">
    <div class="getInTouch">
        <div class="right">
            <div class="title">
                Get In Touch
            </div>
            <div class="contents">
                <div class="content">
                    <div class="title">
                        <h2>Adress  :</h2>
                    </div>
                    <div class="info">
                        <span>
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Phone  :</h2>
                    </div>
                    <div class="info">
                        <span>022 28765477
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Email  :</h2>
                    </div>
                    <div class="info">
                        <span>Flavourfarm9600@gmail.com
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Website  :</h2>
                    </div>
                    <div class="info">
                        <span>flavourfarmstore.com
                        </span>
                    </div>
                </div>
                <div class="content socialMedia">
                    <div class="title">
                        <h2>Social Media :Flavourfarm</h2>
                    </div>
                    <div class="info">
                        <div class="logo">
    
                        </div>
                        <div class="logo">
                            
                        </div>
                        <div class="logo">
                            
                        </div>
                    </div>
                </div>
            
            </div>
    
        </div>
        <div class="left">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.2057527870234!2d85.41303567440991!3d27.710932876180507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1b1fed5126c5%3A0x66a89bde8e23a65e!2sNepal%20Engineering%20College!5e0!3m2!1sen!2snp!4v1753794488957!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
        </div>
    </div>
    <div class="userInputs">
        <div class="title">
            <h2>Contact Us</h2>
        </div>
        <div class="userInputForm">
            <form action="">
                <div class="line line1">
                    <input type="text" placeholder="Your Name*">
                    <input type="text" placeholder="Your Email*">
                </div>
                <div class="line line2">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="line line3">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                </div>
                <div class="line line4 submit">
                    <a href="">
                        <button>Submit</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


{% include "components/footer.html" %}
{% endblock content %}-->