{% extends "base/base.html" %}
{% block content %}
{% include "components/header.html" %}




<div class="contactUsContainer sectionPadding">
    <div class="getInTouch">
        <div class="right">
            <div class="title">
                Get In Touch
            </div>
            <div class="contents">
                <div class="content">
                    <div class="title">
                        <h2>Adress  :</h2>
                    </div>
                    <div class="info">
                        <span>
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Phone  :</h2>
                    </div>
                    <div class="info">
                        <span>022 28765477
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Email  :</h2>
                    </div>
                    <div class="info">
                        <span>Flavourfarm9600@gmail.com
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Website  :</h2>
                    </div>
                    <div class="info">
                        <span>flavourfarmstore.com
                        </span>
                    </div>
                </div>
                <div class="content socialMedia">
                    <div class="title">
                        <h2>Social Media :Flavourfarm</h2>
                    </div>
                    <div class="info">
                        <div class="logo">
    
                        </div>
                        <div class="logo">
                            
                        </div>
                        <div class="logo">
                            
                        </div>
                    </div>
                </div>
            
            </div>
    
        </div>
        <div class="left">
            <div class="map">
                
    
                
            </div>
        </div>
    </div>
    <div class="userInputs">
        <div class="title">
            <h2>Contact Us</h2>
        </div>
        <div class="userInputForm">
            <form action="">
                <div class="line line1">
                    <input type="text" placeholder="Your Name*">
                    <input type="text" placeholder="Your Email*">
                </div>
                <div class="line line2">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="line line3">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                </div>
                <div class="line line4 submit">
                    <a href="">
                        <button>Submit</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


{% include "components/footer.html" %}
{% endblock content %}-->