{% block content %}
    <!-- Categories Section Below -->
    <section class="categories sectionPadding">
        <div class="catVerScrollBtn verScrollBtn">
            <img src="/Media/icons/back.png" alt="">
        </div>
        <div class="categoriesLinks">
            {% for i in all_category  %}
            <div class="categorieLink">
                <a href="{% url 'category/'{{i.slug}} %}%">
                    <img src="{{i.image}}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>

        <!--{% for i in all_category %}
        <div class="categorieLink">
        <a href="{% url 'view_category' i.slug %}">
        {% if i.image %}
            <img src="{{ i.image.url }}" alt="{{ i.name }}">
        {% else %}
            <img src="{% static 'images/default-category.png' %}" alt="No Image">
        {% endif %}
        </a>
        </div>
        {% endfor %}-->


        <div class="catVerScrollBtn verScrollBtn">
            <img src="/Media/icons/next.png" alt="">
        </div>
    </section>
    <!-- Categories Section Above -->
{% endblock content %}
